<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cameras">
            <h2><span jhiTranslate="homeApplicationApp.cameras.detail.title">Cameras</span> {{cameras.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="homeApplicationApp.cameras.name">Name</span></dt>
                <dd>
                    <span>{{cameras.name}}</span>
                </dd>
                <dt><span jhiTranslate="homeApplicationApp.cameras.link">Link</span></dt>
                <dd>
                    <span>{{cameras.link}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cameras', cameras.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
