<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
            <div *ngSwitchCase="true">


            <div class="alert alert-success" >
                <span id="home-logged-message" *ngIf="account" jhiTranslate="global.messages.info.authenticated.logged"></span>
            </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="callout">
                            <div class="card">
                                <a routerLink="meteo" class="click meteo">
                                    <div class="description" style="text-align:center;height: 20em;">
                                        <h4>Meteo</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="callout">
                            <div class="card">
                                <a routerLink="cameras" class="click camera" style="text-align:center;height: 20em;">
                                    <div class="description">
                                        <h4>Caméras</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="callout">
                            <div class="card" style="margin-top: 15px;">
                                <a routerLink="calendrier" class="click calendrier" style="text-align:center;height: 20em;">
                                    <div class="description">
                                        <h4>Calendrier</h4>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a>
            </div>
        </div>
    </div>
</div>
