<div>
    <h2 id="page-heading">
        <span jhiTranslate="homeApplicationApp.meteo.home.title">Meteo</span>
        <div class="btn-group float-right" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary disabled" [routerLink]="['/meteo']">Météo</button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['/courbes']">
                Courbes
            </button>
            <button type="button" class="btn btn-secondary" routerLinkActive="active" [routerLink]="['/ville']">Ville
            </button>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

    <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-12">
                        <div class="card border-0 box-shadow-0">
                            <div class="card-content">
                                <div class="weather-date position-relative">
                                    <div class="card-body bg-lighten-2 bg-warning">
                                        <div class="text-center">
                                            <img src="../../../content/images/meteo/living-room.svg" alt="logo-salon"
                                                 style="width: 40%; height: auto;">
                                        </div>
                                        <div class="weather-details text-center">
                                            <span class="font-medium-4 text-bold-500 blue-grey darken-4">Salon</span>
                                        </div>
                                    </div>
                                    <div class="card-footer p-0 border-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0" style="width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Température</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseSalon['0']['field1']}}
                                                                °C</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/thermometer.svg"
                                                                 width="16" height="16"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Humidité</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseSalon['0']['field2']}}
                                                                %</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/humidity.svg" width="16"
                                                                 height="16"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12">
                        <div class="card border-0 box-shadow-0">
                            <div class="card-content">
                                <div class="weather-date position-relative">
                                    <div class="card-body bg-blue-grey bg-lighten-2">
                                        <div class="text-center">
                                            <img src="../../../content/images/meteo/work-station.svg" alt="logo-bureau"
                                                 style="width: 40%; height: auto;">
                                        </div>
                                        <div class="weather-details text-center">
                                            <span class="font-medium-4 text-bold-500 blue-grey darken-4">Bureau</span>
                                        </div>
                                    </div>
                                    <div class="card-footer p-0 border-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0" style="width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Température</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseBureau['0']['field1']}}
                                                                °C</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/thermometer.svg"
                                                                 width="16" height="16"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Humidité</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseBureau['0']['field2']}}
                                                                %</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/humidity.svg" width="16"
                                                                 height="16"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12">
                        <div class="card border-0 box-shadow-0">
                            <div class="card-content">
                                <div class="weather-date position-relative">
                                    <div class="card-body bg-blue-grey bg-lighten-2">
                                        <div class="text-center">
                                            <img
                                                src="../../../content/images/meteo/logout-house-symbol-with-arrow-pointing-out-to-right.svg" alt="logo-exterieur"
                                                style="width: 40%; height: auto;">
                                        </div>
                                        <div class="weather-details text-center">
                                            <span class="font-medium-4 text-bold-500 blue-grey darken-4">Extérieur</span>
                                        </div>
                                    </div>
                                    <div class="card-footer p-0 border-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0" style="width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Température</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseExterieur['0']['field1']}}
                                                                °C</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/thermometer.svg"
                                                                 width="16" height="16"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Humidité</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseExterieur['0']['field2']}}
                                                                %</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/humidity.svg" width="16"
                                                                 height="16"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12">
                        <div class="card border-0 box-shadow-0">
                            <div class="card-content">
                                <div class="weather-date position-relative">
                                    <div class="card-body bg-primary bg-lighten-2">
                                        <div class="text-center">
                                            <img src="../../../content/images/meteo/database.svg" alt="logo-serveur"
                                                 style="width: 40%; height: auto;">
                                        </div>
                                        <div class="weather-details text-center">
                                            <span class="font-medium-4 text-bold-500 blue-grey darken-4">Serveur</span>
                                        </div>
                                    </div>
                                    <div class="card-footer p-0 border-0">
                                        <div class="table-responsive">
                                            <table class="table table-bordered mb-0" style="width: 100%;">
                                                <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Température</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseServeur['0']['field1']}}
                                                                °C</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/thermometer.svg"
                                                                 width="16" height="16"/>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="details-left float-left">
                                                        <span
                                                            class="font-small-1 grey text-bold-600 block">Humidité</span>
                                                            <span
                                                                class="text-bold-500">{{thingspeakResponseServeur['0']['field2']}}
                                                                %</span>
                                                        </div>
                                                        <div class="float-right align-middle">
                                                            <img src="../../../content/images/ville/humidity.svg" width="16"
                                                                 height="16"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="false" [ngSwitch]="redirect()"></div>
        </div>
    </div>
